@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wizard University for Wizards</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Wizard University for Wizards</h2>
        <p>
            Wizard University for Wizards is a place for new wizards to understand the unknown, manipulate matter and learn about all the unseen around us.
        </p>
    </div>
</div>