/*
	1. PRIMARY STYLES/TABS
	2. HEADER
	3. PROJECTS SECTION
	4. ABOUT SECTION
	5. WORK EXPERIENCE SECTION
	6. EDUCATION SECTION
    7. FOOTER

====================================================


/* ---------------------------------
1. PRIMARY STYLES/TABS
--------------------------------- */

* {box-sizing: border-box}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    color: black;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Projects {background-color: #dee6f2;}
#AboutMe {background-color: #dee6f2;}
#Contact {background-color: #dee6f2;}
#About {background-color: #dee6f2;}

/* ---------------------------------
2. HEADER
--------------------------------- */



/* ---------------------------------
3. PROJECTS SECTION
--------------------------------- */



/* ---------------------------------
4. ABOUT ME
--------------------------------- */



/* ---------------------------------
1. PRIMARY STYLES/TABS
--------------------------------- */



/* ---------------------------------
1. PRIMARY STYLES/TABS
--------------------------------- */



/* ---------------------------------
1. PRIMARY STYLES/TABS
--------------------------------- */


/* ---------------------------------
1. PRIMARY STYLES/TABS
--------------------------------- */