@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a coding exercise where I am making a C# application using Entity Framework Code First. 
    With your given information, I will tell you what zodiac sign you are.</p>
