body {
    background-image: url("./images/dt-pdx-streets.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: arial;
    color: white;
}

/*name*/
/*#name {
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    font-size: 35px;
    font-style: "Courier New", Courier, monospace;
    width: 75px;
    margin-left: 0px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}*/

/*navigation*/

#menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    margin-top: 0%;
    position: fixed;
    right: 10%;
}

ul li {
    float: left;
    width: 100px;
    height: 30px;
    background-color: black;
    opacity: .5;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin-right: 3px;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    background-color: white;
    color: black;
}

/*about me*/
#aboutme {
    border-style: none dashed solid none;
    background-color: black;
    opacity: .5;
    font-size: 20px;
    color: white;
    width: 400px;
    display: inline-flex;
    margin-left: 475px;
    /*margin-top: 150px;*/
    text-align: center;
    border-radius: 25px;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 10px 10px 5px black;
}

#skills {
    background-color: white;
    opacity: .7;
    display: block;
    border-style: solid;
    margin-top: 100px;
    color: black;
    font-size: 20px;
}

/*experience*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

.button2 {
    background-color: #008CBA;
}
/* Blue */
.button3 {
    background-color: #f44336;
}
/* Red */
.button4 {
    background-color: #e7e7e7;
    color: black;
}
/* Gray */
.button5 {
    background-color: #555555;
}
/* Black */

.button .button2 .button3 .button4 .button5 {
    font-size: 12px;
}
