@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    13 1/13ths Crystal Way<br />
    Redmond, WA 98052<br />
    <abbr title="Phone">P:</abbr>
    425.666.1313
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hocuspocus@potions.edu">hocuspocus@potions.edu</a><br />
</address>